/* =========================
BASE APP STYLES
Styles that are foundational
to the application.
========================= */

/* - - - - - - - - - - - - -
First Things First
- - - - - - - - - - - - - */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  background: #333 url('../img/fireHero.gif') center no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden;
}


/* - - - - - - - - - - - - -
Main Container
- - - - - - - - - - - - - */
.ember-view, main {
  height: 100%;
}
main {
  display: flex;
}
