/* =========================
DRAWER STYLES
The drawer is the side
navigation of the app.
========================= */

/* - - - - - - - - - - - - -
Base Styling
- - - - - - - - - - - - - */
.component_sidebar {
  $width: 250px;
  flex: 0 0 $width;
  background-color: rgba(20,20,20,0.95);
  color: white;
  padding: 1rem;
  -webkit-backdrop-filter: blur(20px);
  // TODO: Make this animated, with a hamburger animation to toggle.
  &.hidden {
    margin-left: -$width;
  }
}
